//<ПЕРЕМЕННЫЕ>===========================================================================================================

$fontFamily: "Roboto";
$tabletWidth: 768;
$mobileWidth: 320;
$PCWidth: 1440;

$maxWidth: 1440;
$minWidth: 320;

$c-main: #000000;
$c-second: #b6b6b6;
$c-third: #ffffff;

$c-Light: #1390e5;

$bg-color: #fafafa;

$c-focus: #c5e4f9;

$main-radius: 10px;

//</ПЕРЕМЕННЫЕ>===========================================================================================================
