//<МИКСИНЫ>===============================================================================================
//! Перекочевали в файл в vue.config.js
//</МИКСИНЫ>===============================================================================================
//<ПЕРЕМЕННЫЕ>===========================================================================================================
//! Перекочевали в файл _variables.scss в vue.config.js
//</ПЕРЕМЕННЫЕ>===========================================================================================================
//<ШРИФТЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "normalazie";
@import "null";
body {
	font-family: $fontFamily;
	font-weight: 400;
	font-size: 12px;
	background-color: $bg-color;
	color: $c-main;
	&.lock {
		overflow: hidden;
	}

	@media (min-width: $tabletWidth + "px") {
		font-size: 14px;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================

.wrapper {
	width: 100%;
	min-height: 100%;
	//overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================
.page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.content-width {
	margin: 0px auto;
	max-width: calcSize(303, 690, $minWidth, $maxWidth);
	@media (min-width: $PCWidth + "px") {
		max-width: 1000px;
	}
	//	padding: 0 10px;
	//max-width: calcSize(320, 1620, $minWidth, $maxWidth);
	//overflow: hidden;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//===================================================================================================================================

//*<ЧАСТО ПОВТОРЯЮЩЕЕСЯ ЭЛЕМЕНТЫ>====================================================================================================

.title {
	font-size: 36px;
	line-height: calc(52 / 36);
}
.title2 {
	font-size: 28px;
	line-height: calc(40 / 28);
}

.sub-title {
	font-size: 14px;
	font-weight: 500;
	line-height: calc(16 / 14);
	@media (min-width: $tabletWidth + "px") {
		&--list {
			font-size: 16px;
			line-height: calc(20 / 16);
		}
	}
}
.text {
	line-height: calc(16 / 12);
	color: $c-second;
	@media (min-width: $tabletWidth + "px") {
		&--list {
			font-size: 16px;
			line-height: calc(20 / 16);
		}
	}
}
.text-info {
	font-family: "PT Sans";
	font-size: 16px;
	color: $c-second;
	&--link {
		color: $c-Light;
	}
}
.text-sp-attention {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(20 / 16);
}

//*</ПОВТОРЯЮЩЕЕСЯ ЭЛЕМЕНТЫ>====================================================================================================

//*<UI ЭЛЕМЕНТЫ>================================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
	font-family: $fontFamily;
	font-size: 16px;
}
.input {
	border-radius: $main-radius;
	border: 1px rgba(39, 39, 39, 0.1) solid;
	padding: 15px 36px 15px 10px;

	&:focus {
		transition: background-color 0.3s ease 0s;
		background-color: $c-focus;
	}
	&::placeholder {
		color: $c-second;
	}
	&--search {
		border-radius: $main-radius 0 0 $main-radius;
	}

	&__icon {
		transform: translate(-100%, -50%);
		padding: 10px 10px;
		position: absolute;
		top: 50%;
	}
}

a,
a:visited,
a:active,
a:link {
	color: #d1d1d1;
}

.icon-eye,
.icon-eye-close {
	fill: $c-Light;

	//background: $c-third;
	fill: #d1d1d1;
	&--active {
		fill: $c-Light;
	}
}
.icon-eye,
.icon-favorite,
.icon-eye-close {
	width: 24px;
	height: 24px;
	@media (any-hover: hover) {
		transition: fill 0.3s ease 0s;
		&:hover {
			fill: $c-focus;
		}
	}
}

.icon-grid,
.icon-list {
	transition: opacity 0.3s ease 0s;
	width: 20px;
	height: 20px;
	opacity: 0.3;
	cursor: pointer;
	&--active {
		opacity: 1;
	}
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.7;
		}
	}
}

.icon-favorite {
	fill-opacity: 0;
	stroke: #1390e5;
	&--active {
		fill-opacity: 1;
		fill: $c-focus;
	}

	@media (any-hover: hover) {
		&:hover {
			fill-opacity: 1;
			fill: $c-focus;
			transition: all 0.3s ease 0s;
		}
	}
}

.btn {
	color: $c-third;
	background-color: $c-Light;
	padding: 15px 20px;
	border-radius: $main-radius;
	&__text {
		@media (min-width: $tabletWidth + "px") {
			padding: 0 35px;
		}
	}
	&--none {
		background-color: transparent;
	}
	&--search {
		border-radius: 0 $main-radius $main-radius 0;
		font-size: 16px;
	}
	&--light {
		background-color: #ffffff;
		color: $c-Light;
		border: 1px solid $c-Light;
	}
	transition: background-color, color 0.3s ease 0s;
	&:disabled {
		background-color: $c-focus;
		color: $c-second;
	}
}

//*<Тайминги и условия анимации>================================================================================================================
@media (any-hover: hover) {
	.hover-color:hover {
		transition: color 0.3s ease 0s;
		color: $c-focus;
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
	opacity: 0;
}
.fade-enter-to {
	opacity: 1;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.anim-page-enter-active {
	animation: pageIn 0.3s;
}

.anim-page-leave-active {
	animation: pageOut 0.3s;
}
@keyframes pageIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes pageOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
//========================================================================================================================================================
